[flake8]
# Some sane defaults for the code style checker flake8
max-line-length = 88
select = C,E,F,W,B,B950,ISC
extend-ignore = E203, E501
exclude =
    .tox
    build
    dist
    .eggs
    env
    temp